@font-face {
    font-family: "AquaPlaygroundRegular";
    src: url('../fonts/Lato-Regular.ttf'); 
}

body {
    font-family: AquaPlaygroundRegular, sans-serif; 
}

div, input, select, button {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 0 0.25em 0;
}

p {
    margin: 0 0 0.25em 0;
}

button, select, input {
    font-family: AquaPlaygroundRegular, sans-serif; 
}

input[type=text], textarea {
    padding: 0.25em;
    border-radius: 0.5em;
    border: 2px solid grey;
    width: 100%;
}

input[type=checkbox] {
    width: 1.28em;
    height: 1.28em;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {  
    font-family: AquaPlaygroundRegular, sans-serif; 
    outline: 1px solid $color-1-alt1;
}

