.br-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.br-header-logo {
    width: 4em;
    height: 4em;
}

.br-page {
    margin: 0em 10em 0em 10em;
}

.br-content {
    padding: 0.5em;
}

.br-button {
    position: relative;
    z-index: 10;
    min-width: 7em;
    padding: 0.2em 0.8em;
    margin: 0 0.05em;
    border-radius: 0.4em;
    border-width: 1px 0 0 1px;
    font-size: 0.9em;
    min-height: 2.5em;
    background-image: linear-gradient(0deg, transparent 0%, hsla($color-1-hue, 100%, 50%, 0.8) 100%);
    background-color: $color-1-alt2;
    border-color: $color-1-l3;
    color: white;
}

